<style>
div{
  
}
.field {
 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#label_{
  width: 5000px;
  
}
.actions {
  margin-top: 20px;
}

</style>
<%= form_with(model: worklog) do |form| %>
  <% if worklog .errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worklog.errors.count, "error") %> prohibited this worklog from being saved:</h2>

      <ul>
        <% worklog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Beschreibung, class:"label_" %> 
    <%= form.text_area :Beschreibung, :rows=>10, :cols=>60%>
  </div>

  <div class="field">
    <%= form.label :Anzahl_Arbeiter %>
    <%= form.number_field :Anzahl_Arbeiter %>
  </div>

  <div class="field">
    <%= form.label :Arbeiter_01 %>
    <%= form.text_field :Arbeiter_01 %>
  </div>

  <div class="field">
    <%= form.label :Arbeiter_02 %>
    <%= form.text_field :Arbeiter_02 %>
  </div>

  <div class="field">
    <%= form.label :Arbeiter_03 %>
    <%= form.text_field :Arbeiter_03 %>
  </div>

  <div class="field">
    <%= form.label :Arbeiter_04 %>
    <%= form.text_field :Arbeiter_04 %>
  </div>

  <div class="field">
    <%= form.label :Stunden %>
    <%= form.number_field :Stunden %>
  </div>

  <div class="field">
    <%= form.label :Datum %>
    <%= form.date_select :Datum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
