<h1>Worklogs</h1>

<table class="table table-striped table-dark"
  <thead>
    <tr>
      <th scope="col">Beschreibung</th>
      <th scope="col">Anzahl arbeiter</th>
      <th scope="col">Arbeiter 01</th>
      <th scope="col">Arbeiter 02</th>
      <th scope="col">Arbeiter 03</th>
      <th scope="col">Arbeiter 04</th>
      <th scope="col">Stunden</th>
      <th scope="col">Datum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worklogs.each do |worklog| %>
      <tr>
        <td><%= worklog.Beschreibung %></td>
        <td><%= worklog.Anzahl_Arbeiter %></td>
        <td><%= worklog.Arbeiter_01 %></td>
        <td><%= worklog.Arbeiter_02 %></td>
        <td><%= worklog.Arbeiter_03 %></td>
        <td><%= worklog.Arbeiter_04 %></td>
        <td><%= worklog.Stunden %></td>
        <td><%= worklog.Datum %></td>
        <td><%= link_to 'Show', worklog %></td>
        <td><%= link_to 'Edit', edit_worklog_path(worklog) %></td>
        <td><%= link_to 'Destroy', worklog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Worklog', new_worklog_path, :method => "get" %>
