<table class="table table-striped table-dark">
  <tr>
    <td><strong><%= @worklog.Beschreibung %></strong></td>
    <td><strong><%= @worklog.Anzahl_Arbeiter %></strong></td>
    <td><strong>  <%= @worklog.Arbeiter_01 %></strong></td>
    <td><strong><%= @worklog.Arbeiter_02 %></strong></td>
    <td><strong><%= @worklog.Arbeiter_03 %></strong></td>
    <td><strong><%= @worklog.Arbeiter_04 %></strong></td>
    <td><strong><%= @worklog.Stunden %></strong></td>
    <td><strong> <%= @worklog.Datum %></strong></td>
  </tr>
  </table>

<%= link_to 'Edit', edit_worklog_path(@worklog) %> 
<%= link_to 'Back', worklogs_path %>