
<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>
<% if logged_in? && @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
<% end %>

<h3 class="text-center mt-4">Worklog</h3>

<div class="flickr_pagination">
  <%= will_paginate @worklog, :container => false %>
</div>

<%= render 'worklogs/worklog' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @worklog, :container => false %>
</div>
