<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">UKW2 Worklog</h1>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" role="button">Login </a>
  </div>
</div>
